<table class="table">
  <thead id="stock_items_thead">
  <tr>
    <th>Codigo</th>
    <th>Nome</th>
    <th>Quantidade Stock</th>
  </tr>
  </thead>

  <tbody id="stock_items_tbody">
  <% @stock_items.each do |stock_item| %>
      <tr>
        <td><%= stock_item.code %></td>
        <td><%= stock_item.name %></td>
        <td><%= stock_item.qtd %></td>
      </tr>
  <% end %>
  </tbody>
</table>