var rowContent = '<tr>' +
        '<td><%= @task.name  %></td>' +
        '<td><%= @task.description %></td>' +

        '<td><%= link_to 'Editar', edit_task_path(@task), remote: true, class: 'update_post btn btn-warning' %></td>' +
        '<td><%= link_to 'Eliminar', @task, method: :delete, data: { confirm: 'Tem a certeza?' }, remote: true, class: 'delete_post btn btn-danger' %></td>' +
        '</tr>';

insertRowAfter('tasks_tbody', rowContent);

// close create/edit modal
$('#addEditModal').modal('hide');