<%= form_tag({ :action => :create }, { :method => :post }) do %>

    <%= hidden_field_tag :pin, '' %>

    <div class="pin_container">
      <table>
        <tr class="display">
          <td colspan="3">
            <div class="display" id="display">#:</div>
          </td>
        </tr>
        <tr>
          <td class="divider" colspan="3"></td>
        </tr>
        <tr>
          <td><div class="click top_left">7</div></td>
          <td><div class="click">8</div></td>
          <td><div class="click top_right">9</div></td>
        </tr>
        <tr>
          <td><div class="click">4</div></td>
          <td><div class="click">5</div></td>
          <td><div class="click">6</div></td>
        </tr>
        <tr>
          <td><div class="click">1</div></td>
          <td><div class="click">2</div></td>
          <td><div class="click">3</div></td>
        </tr>
        <tr>
          <td><div class="click bottom_left">CLR</div></td>
          <td><div class="click">0</div></td>
          <td><div class="bottom_right"><%= submit_tag 'OK' %></div></td>

        </tr>
      </table>
    </div>

<% end %>

<script type="text/javascript">
    function ready() {

        var click = $('.click');

        click.click(function (){

            var value = $(this).html();

            if (value == 'CLR') {
                clear_display();
            } else {
                insert_number(value);
            }

        });

        click.attr('unselectable','on').css({
            //'-moz-user-select':'-moz-none',
            '-moz-user-select':'none',
            '-o-user-select':'none',
            '-khtml-user-select':'none', /* you could also put this in a class */
            '-webkit-user-select':'none',/* and add the CSS class here instead */
            '-ms-user-select':'none',
            'user-select':'none'
        }).bind('selectstart', function(){ return false; });
    }

    function insert_number(number) {
        var display = $('#display');
        var pin     = $('#pin');

        pin.val(pin.val() + number);
        display.html(display.html() + '*');
    }

    function clear_display() {
        $('#pin').val('');
        $('#display').html('#:');
    }

    $(document).on("ready page:load", ready);
</script>

