<table class="table table-condensed">
  <thead>
  <tr>
    <th></th>
    <th>nome</th>
    <th>descrição</th>
  </tr>
  </thead>

  <tbody id="tasks_tbody">
  <% @tasks.each do |task| %>
      <tr>
        <td><button class="task_selector_button btn btn-default" id="<%= task.id %>">Selecionar</button></td>
        <td><%= task.name %></td>
        <td><%= task.description %></td>
      </tr>
  <% end %>
  </tbody>
</table>