<h1>Stock</h1>

<%= form_tag stock_items_path, :method => 'get' do %>
    <div id="stock_items"><%= render 'stock_items' %></div>
<% end %>

<br>

<%= link_to 'New Item', new_stock_item_path, remote: true %>

<div id="container"></div>

