$('#error_title').html('<%= @error_title %>');

$('#error_body').html('' +
    <% @error_messages.each do |message| %>
        <% aux_message = (message.index('(') != nil) ? message[message.index('('), message.length].gsub('(', '').gsub(')', '') : message %>
        '<p><%= aux_message %></p>' +
    <% end %>
'');

// close create/edit modal if open
$('#addEditModal').modal('hide');

$('#errorModal').modal('show');